#!/bin/sh
#
[ "$ENV_OK" ] || {
export JAVA_HOME=/home/hyp/android/jdk-17.0.16+8
export ANDROID_HOME=/home/hyp/android/sdk
export ANDROID_SDK_ROOT=/home/hyp/android/sdk
export ANDROID_NDK_HOME=/home/hyp/android/sdk/ndk/27.3.13750724
export PATH="$JAVA_HOME/bin:$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$PATH"
export PATH="$ANDROID_SDK_ROOT/build-tools/34.0.0:$PATH"
export PATH="$ANDROID_NDK_HOME:$PATH" 
export ENV_OK=1
}

